Repository sillsdev/languageforge-lexbox, pull requests merged in 2025-08, with the labels that each got.

#1872 Fix typing into empty rich-text fields
  frontend/pnpm-lock.yaml
  frontend/viewer/package.json
  frontend/viewer/src/stories/editor/stomping/stomp-safe-lcm-rich-text-editor.stories.svelte
Labels: 💻 FW Lite

#1822 Add ffmpeg wasm
  frontend/pnpm-lock.yaml
  frontend/viewer/package.json
  frontend/viewer/src/lib/components/audio/AudioDialog.svelte
  frontend/viewer/src/lib/components/audio/audio-editor.svelte
  frontend/viewer/src/lib/components/audio/ffmpeg/bundled-ffmpeg-worker.js
  frontend/viewer/src/lib/components/audio/ffmpeg/ffmpeg-api.ts
  frontend/viewer/src/lib/components/audio/ffmpeg/index.ts
  frontend/viewer/src/lib/components/field-editors/audio-input.svelte
  frontend/viewer/src/lib/sandbox/Sandbox.svelte
  frontend/viewer/src/locales/en.po
  frontend/viewer/src/locales/es.po
  frontend/viewer/src/locales/fr.po
  frontend/viewer/src/locales/id.po
  frontend/viewer/src/locales/ko.po
  frontend/viewer/vite.config.ffmpeg-worker.ts
Labels: 💻 FW Lite

#1861 Turn off @typescript-eslint/no-redundant-type-constituents
  frontend/README.md
  frontend/eslint.config.js
  frontend/src/lib/components/FilterBar/FilterBar.svelte
  frontend/src/lib/components/Projects/ProjectConfidentialityFilterSelect.svelte
  frontend/src/lib/components/modals/ConfirmDeleteModal.svelte
  frontend/src/lib/components/modals/FormModal.svelte
  frontend/src/routes/(authenticated)/admin/+page.svelte
  frontend/src/routes/(authenticated)/admin/EditUserAccount.svelte
  frontend/src/routes/(authenticated)/org/[org_id]/AddMyProjectsToOrgModal.svelte
  frontend/src/routes/(authenticated)/org/[org_id]/AddOrgMemberModal.svelte
  frontend/src/routes/(authenticated)/org/[org_id]/BulkAddOrgMembers.svelte
  frontend/src/routes/(authenticated)/org/[org_id]/ChangeOrgMemberRoleModal.svelte
  frontend/src/routes/(authenticated)/project/[project_code]/AddOrganization.svelte
  frontend/src/routes/(authenticated)/project/[project_code]/AddProjectMember.svelte
  frontend/src/routes/(authenticated)/project/[project_code]/AddPurpose.svelte
  frontend/src/routes/(authenticated)/project/[project_code]/BulkAddProjectMembers.svelte
  frontend/src/routes/(authenticated)/project/[project_code]/ChangeMemberRoleModal.svelte
  frontend/src/routes/(authenticated)/project/[project_code]/ProjectConfidentialityModal.svelte
  frontend/src/routes/(authenticated)/project/[project_code]/ResetProjectModal.svelte
  frontend/viewer/eslint.config.js
  frontend/viewer/src/lib/OpenInFieldWorksButton.svelte
  frontend/viewer/src/lib/components/field-editors/multi-select.svelte
  frontend/viewer/src/lib/components/field-editors/select.svelte
  frontend/viewer/src/lib/components/ui/icon/pinging-icon.svelte
Labels: 💻 FW Lite, 📦 Lexbox

#1877 tweak the home page a bit
  backend/FwLite/FwLiteShared/Layout/SvelteLayout.razor
  frontend/src/app.d.ts
  frontend/viewer/src/app.d.ts
  frontend/viewer/src/app.postcss
  frontend/viewer/src/home/AppBar.svelte
  frontend/viewer/src/home/HomeView.svelte
  frontend/viewer/src/home/ProjectListItem.svelte
  frontend/viewer/src/home/Server.svelte
  frontend/viewer/src/home/transitions.ts
  frontend/viewer/src/lib/components/ListItem.svelte
  frontend/viewer/src/lib/utils/ButtonListItem.svelte
  frontend/viewer/src/locales/en.po
  frontend/viewer/src/locales/es.po
  frontend/viewer/src/locales/fr.po
  frontend/viewer/src/locales/id.po
  frontend/viewer/src/locales/ko.po
  frontend/viewer/src/project/NewEntryButton.svelte
Labels: 💻 FW Lite

#1881 Fix project-dropdown each-key not unique
  frontend/viewer/src/home/HomeView.svelte
  frontend/viewer/src/project/ProjectDropdown.svelte
Labels: 💻 FW Lite

#1882 Touch-up language-picker in side-bar
  frontend/viewer/src/lib/i18n/LocalizationPicker.svelte
  frontend/viewer/src/project/ProjectSidebar.svelte
Labels: 💻 FW Lite

#1904 Tidy up tasks' usage of label field
  backend/FwLite/Taskfile.yml
  frontend/Taskfile.yml
Labels: 💻 FW Lite, 📦 Lexbox

#1901 Touch up app-bar
  frontend/viewer/src/home/AppBar.svelte
  frontend/viewer/src/home/HomeView.svelte
Labels: 💻 FW Lite

#1913 Test snapshots & take them from CRDT projects during merge
  backend/FwHeadless/FwHeadlessConfig.cs
  backend/FwHeadless/Program.cs
  backend/FwHeadless/Routes/MergeRoutes.cs
  backend/FwLite/FwLiteProjectSync.Tests/Sena3SyncTests.cs
  backend/FwLite/FwLiteProjectSync.Tests/SyncTests.cs
  backend/FwLite/FwLiteProjectSync/CrdtFwdataProjectSyncService.cs
  backend/FwLite/FwLiteProjectSync/MiniLcmExtensions.cs
  backend/FwLite/FwLiteProjectSync/ProjectSnapshot.cs
  backend/LexBoxApi/Controllers/SyncController.cs
  backend/LexBoxApi/Services/FwHeadlessClient.cs
Labels: 💻 FW Lite, 📦 Lexbox

#1893 Open projects off main thread
  backend/FwLite/FwLiteShared/Services/ProjectServicesProvider.cs
Labels: 💻 FW Lite

#1873 Create new MiniLcmApi wrapper for normalizing strings
  backend/FwLite/FwLiteProjectSync.Tests/Import/ResumableTests.cs
  backend/FwLite/FwLiteProjectSync/CrdtFwdataProjectSyncService.cs
  backend/FwLite/FwLiteProjectSync/DryRunMiniLcmApi.cs
  backend/FwLite/FwLiteProjectSync/Import/ResumableImportApi.cs
  backend/FwLite/FwLiteShared/Services/MiniLcmApiNotifyWrapper.cs
  backend/FwLite/FwLiteShared/Services/MiniLcmJsInvokable.cs
  backend/FwLite/MiniLcm.Tests/NormalizationTests.cs
  backend/FwLite/MiniLcm/Filtering/EntryFilter.cs
  backend/FwLite/MiniLcm/IMiniLcmReadApi.cs
  backend/FwLite/MiniLcm/Normalization/MiniLcmApiStringNormalizationWrapper.cs
  backend/FwLite/MiniLcm/Validators/MiniLcmApiValidationWrapper.cs
  backend/FwLite/MiniLcm/Validators/MiniLcmValidators.cs
  backend/FwLite/MiniLcm/Wrappers/MiniLcmWrappers.cs
Labels: 💻 FW Lite

#1890 Move and handle writing systems effectively
  backend/FwLite/FwDataMiniLcmBridge/Api/FwDataMiniLcmApi.cs
  backend/FwLite/FwDataMiniLcmBridge/Api/LcmHelpers.cs
  backend/FwLite/FwLiteProjectSync.Tests/Import/ResumableTests.cs
  backend/FwLite/FwLiteProjectSync.Tests/WritingSystemSyncTests.cs
  backend/FwLite/FwLiteProjectSync/DryRunMiniLcmApi.cs
  backend/FwLite/FwLiteProjectSync/Import/ResumableImportApi.cs
  backend/FwLite/LcmCrdt.Tests/Changes/RegressionDeserializationData.json
  backend/FwLite/LcmCrdt.Tests/Changes/UseChangesTests.cs
  backend/FwLite/LcmCrdt.Tests/DataModelSnapshotTests.VerifyChangeModels.verified.txt
  backend/FwLite/LcmCrdt/Changes/SetOrderChange.cs
  backend/FwLite/LcmCrdt/CrdtMiniLcmApi.cs
  backend/FwLite/LcmCrdt/LcmCrdtKernel.cs
  backend/FwLite/LcmCrdt/OrderPicker.cs
  backend/FwLite/MiniLcm.Tests/WritingSystemTestsBase.cs
  backend/FwLite/MiniLcm/IMiniLcmReadApi.cs
  backend/FwLite/MiniLcm/IMiniLcmWriteApi.cs
  backend/FwLite/MiniLcm/Models/IOrderable.cs
  backend/FwLite/MiniLcm/Models/WritingSystem.cs
  backend/FwLite/MiniLcm/Models/WritingSystemId.cs
  backend/FwLite/MiniLcm/SyncHelpers/DiffCollection.cs
  backend/FwLite/MiniLcm/SyncHelpers/WritingSystemSync.cs
  backend/FwLite/MiniLcm/Validators/MiniLcmApiValidationWrapper.cs
  backend/LfClassicData/LfClassicMiniLcmApi.cs
  frontend/viewer/src/lib/demo-entry-data.ts
  frontend/viewer/src/lib/dotnet-types/generated-types/MiniLcm/Models/IWritingSystem.ts
  frontend/viewer/src/lib/utils.ts
Labels: 💻 FW Lite

#1921 Make new entry button view-aware
  frontend/viewer/src/locales/en.po
  frontend/viewer/src/locales/es.po
  frontend/viewer/src/locales/fr.po
  frontend/viewer/src/locales/id.po
  frontend/viewer/src/locales/ko.po
  frontend/viewer/src/project/NewEntryButton.svelte
Labels: 💻 FW Lite

#1908 Allow creating entries with only audio
  frontend/viewer/src/lib/entry-editor/NewEntryDialog.svelte
  frontend/viewer/src/lib/writing-system-service.svelte.ts
Labels: 💻 FW Lite

#1906 Support opening multiple dialogs
  backend/FwLite/LcmCrdt/CurrentProjectService.cs
  frontend/viewer/src/lib/components/ui/alert-dialog/alert-dialog-content.svelte
  frontend/viewer/src/lib/components/ui/alert-dialog/alert-dialog-root.svelte
  frontend/viewer/src/lib/components/ui/alert-dialog/index.ts
  frontend/viewer/src/lib/components/ui/dialog-shared/dialog-shared-root.svelte
  frontend/viewer/src/lib/components/ui/dialog/dialog-content.svelte
  frontend/viewer/src/lib/components/ui/dialog/dialog-root.svelte
  frontend/viewer/src/lib/components/ui/dialog/index.ts
Labels: 💻 FW Lite

#1934 Allow downloading projects that match fwdata project
  backend/FwLite/FwLiteShared/Projects/CombinedProjectsService.cs
  frontend/viewer/src/home/Server.svelte
Labels: 💻 FW Lite

#1942 Move more things off main thread
  backend/FwLite/FwLiteShared/Projects/CombinedProjectsService.cs
  backend/FwLite/FwLiteShared/Projects/ImportFwdataService.cs
  backend/FwLite/FwLiteShared/Services/MiniLcmJsInvokable.cs
  frontend/viewer/src/home/HomeView.svelte
Labels: 💻 FW Lite

#1950 Remove line numbers from po files
  frontend/viewer/lingui.config.ts
  frontend/viewer/src/locales/en.po
  frontend/viewer/src/locales/es.po
  frontend/viewer/src/locales/fr.po
  frontend/viewer/src/locales/id.po
  frontend/viewer/src/locales/ko.po
Labels: 💻 FW Lite

#1953 Improve beta request emails
  backend/LexBoxApi/Services/EmailService.cs
  frontend/src/lib/email/JoinFwLiteBetaRequest.svelte
Labels: 📦 Lexbox

#1947 Only allow managers to use Try FieldWorks Lite
  frontend/src/lib/i18n/locales/en.json
  frontend/src/routes/(authenticated)/project/[project_code]/+page.svelte
  frontend/src/routes/(authenticated)/project/[project_code]/CrdtSyncButton.svelte
Labels: 📦 Lexbox

#1939 Make audio-input respect readonly
  frontend/viewer/src/lib/components/audio/audio-editor.svelte
  frontend/viewer/src/lib/components/field-editors/audio-input.svelte
  frontend/viewer/src/lib/components/field-editors/multi-ws-input.svelte
  frontend/viewer/src/lib/components/field-editors/rich-multi-ws-input.svelte
  frontend/viewer/src/locales/en.po
  frontend/viewer/src/locales/es.po
  frontend/viewer/src/locales/fr.po
  frontend/viewer/src/locales/id.po
  frontend/viewer/src/locales/ko.po
Labels: 💻 FW Lite

#1945 Ensure senses are created before adding complex-form-components
  backend/FwLite/FwDataMiniLcmBridge/Api/FwDataMiniLcmApi.cs
  backend/FwLite/FwLiteProjectSync.Tests/EntrySyncTests.cs
  backend/FwLite/FwLiteProjectSync.Tests/Import/ResumableTests.cs
  backend/FwLite/FwLiteProjectSync/CrdtFwdataProjectSyncService.cs
  backend/FwLite/FwLiteProjectSync/DryRunMiniLcmApi.cs
  backend/FwLite/FwLiteProjectSync/Import/ResumableImportApi.cs
  backend/FwLite/FwLiteShared/Services/MiniLcmApiNotifyWrapper.cs
  backend/FwLite/LcmCrdt.Tests/Changes/UseChangesTests.cs
  backend/FwLite/LcmCrdt/CrdtMiniLcmApi.cs
  backend/FwLite/MiniLcm.Tests/DiffCollectionTests.cs
  backend/FwLite/MiniLcm/CreateEntryOptions.cs
  backend/FwLite/MiniLcm/IMiniLcmWriteApi.cs
  backend/FwLite/MiniLcm/Models/Entry.cs
  backend/FwLite/MiniLcm/SyncHelpers/DiffCollection.cs
  backend/FwLite/MiniLcm/SyncHelpers/EntrySync.cs
Labels: 💻 FW Lite

#1929 New Crowdin updates
  frontend/viewer/src/locales/es.po
  frontend/viewer/src/locales/fr.po
  frontend/viewer/src/locales/id.po
  frontend/viewer/src/locales/ko.po
  frontend/viewer/src/locales/ms.po
  frontend/viewer/src/locales/sw.po
Labels: 💻 FW Lite

#1918 create feedback dialog
  backend/FwLite/FwLiteShared/FwLiteConfig.cs
  frontend/viewer/src/home/HomeView.svelte
  frontend/viewer/src/lib/about/FeedbackDialog.svelte
  frontend/viewer/src/lib/admin-dialogs/GetProjectByCodeDialog.svelte
  frontend/viewer/src/lib/components/audio/AudioDialog.svelte
  frontend/viewer/src/lib/components/responsive-dialog/responsive-dialog.svelte
  frontend/viewer/src/lib/components/ui/dialog/dialog-content.svelte
  frontend/viewer/src/lib/entry-editor/EntryOrSensePicker.svelte
  frontend/viewer/src/lib/entry-editor/NewEntryDialog.svelte
  frontend/viewer/src/lib/history/HistoryView.svelte
  frontend/viewer/src/locales/en.po
  frontend/viewer/src/locales/es.po
  frontend/viewer/src/locales/fr.po
  frontend/viewer/src/locales/id.po
  frontend/viewer/src/locales/ko.po
  frontend/viewer/src/project/ProjectSidebar.svelte
Labels: 💻 FW Lite

#1937 Deleting test projects now deletes FwHeadless repo
  backend/LexBoxApi/Controllers/ProjectController.cs
  backend/LexBoxApi/Services/ProjectService.cs
Labels: 📦 Lexbox
