Repository sillsdev/languageforge-lexbox, pull requests merged in 2025-07, with the labels that each got.

#1789 Use newly created writing systems when updating the full text search table
  backend/FwLite/LcmCrdt.Tests/Data/DownloadProjectTests.cs
  backend/FwLite/LcmCrdt.Tests/MiniLcmApiFixture.cs
  backend/FwLite/LcmCrdt/FullTextSearch/EntrySearchService.cs
  backend/FwLite/LcmCrdt/FullTextSearch/UpdateEntrySearchTableInterceptor.cs
Labels: 💻 FW Lite

#1768 1687 Fix: unsubmitted changes get stomped on
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  frontend/viewer/package.json
  frontend/viewer/src/lib/DictionaryEntry.svelte
  frontend/viewer/src/lib/components/field-editors/multi-ws-input.svelte
  frontend/viewer/src/lib/components/field-editors/rich-multi-ws-input.svelte
  frontend/viewer/src/lib/components/field-editors/rich-ws-input.svelte
  frontend/viewer/src/lib/components/field-editors/ws-input.svelte
  frontend/viewer/src/lib/components/lcm-rich-text-editor/lcm-rich-text-editor.svelte
  frontend/viewer/src/lib/components/stomp/stomp-guard.svelte.test.ts
  frontend/viewer/src/lib/components/stomp/stomp-guard.svelte.ts
  frontend/viewer/src/lib/components/stomp/stomp-safe-input.svelte
  frontend/viewer/src/lib/components/stomp/stomp-safe-lcm-rich-text-editor.svelte
  frontend/viewer/src/lib/entry-editor/entry-persistence.svelte.ts
  frontend/viewer/src/lib/writing-system-service.svelte.ts
  frontend/viewer/src/project/browse/EntryView.svelte
  frontend/viewer/src/stories/editor/stomping/stomp-safe-input.stories.svelte
  frontend/viewer/src/stories/editor/stomping/stomp-safe-lcm-rich-text-editor.stories.svelte
  frontend/viewer/vitest.config.ts
Labels: 💻 FW Lite, 📦 Lexbox

#1794 Hopefully avoid more race conditions
  backend/FwLite/FwLiteProjectSync.Tests/Fixtures/SyncFixture.cs
  backend/FwLite/FwLiteProjectSync.Tests/Import/ImportTests.cs
Labels: 💻 FW Lite

#1797 Don't underline rich-text if no ws
  frontend/viewer/src/lib/components/lcm-rich-text-editor/lcm-rich-text-editor.svelte
Labels: 💻 FW Lite

#1793 Allow overriding LinkedFiles subfolder via form
  backend/FwHeadless/Controllers/MediaFileController.cs
  backend/FwHeadless/Models/MediaFileModels.cs
  backend/FwHeadless/Routes/MediaFileRoutes.cs
  backend/Testing/FwHeadless/MediaFileTestFixture.cs
  backend/Testing/FwHeadless/MediaFileTests.cs
Labels: 📦 Lexbox

#1782 Set username on hg and Harmony commits
  backend/FwHeadless/Services/SendReceiveHelpers.cs
  backend/FwHeadless/appsettings.json
  backend/FwLite/LcmCrdt/CrdtMiniLcmApi.cs
  backend/FwLite/LcmCrdt/LcmCrdtConfig.cs
Labels: 💻 FW Lite, 📦 Lexbox

#1800 Migrate notifications to sonner
  frontend/pnpm-lock.yaml
  frontend/viewer/.storybook/decorators/FWLiteDecorator.svelte
  frontend/viewer/package.json
  frontend/viewer/src/ShadcnProjectView.svelte
  frontend/viewer/src/home/Server.svelte
  frontend/viewer/src/lib/OpenInFieldWorksButton.svelte
  frontend/viewer/src/lib/components/ui/sonner/sonner.svelte
  frontend/viewer/src/lib/errors/global-errors.ts
  frontend/viewer/src/lib/notifications/NotificationOutlet.svelte
  frontend/viewer/src/lib/notifications/notifications.ts
  frontend/viewer/src/lib/sandbox/Sandbox.svelte
  frontend/viewer/src/lib/services/projects-service.ts
  frontend/viewer/src/project/SyncDialog.svelte
  frontend/viewer/src/stories/notifications/notification.stories.svelte
Labels: 💻 FW Lite, 📦 Lexbox

#1796 Make complex-form-type changes duplicate proof
  backend/FwLite/FwDataMiniLcmBridge/Api/FwDataMiniLcmApi.cs
  backend/FwLite/FwDataMiniLcmBridge/Api/UpdateProxy/UpdateEntryProxy.cs
  backend/FwLite/LcmCrdt.Tests/BulkCreateEntriesTest.cs
  backend/FwLite/LcmCrdt.Tests/Changes/UseChangesTests.cs
  backend/FwLite/LcmCrdt.Tests/DataModelSnapshotTests.VerifyDbModel.verified.txt
  backend/FwLite/LcmCrdt/Changes/AddSemanticDomainChange.cs
  backend/FwLite/LcmCrdt/Changes/Entries/AddComplexFormTypeChange.cs
  backend/FwLite/LcmCrdt/Changes/Entries/RemoveComplexFormTypeChange.cs
  backend/FwLite/LcmCrdt/Changes/Entries/ReplaceComplexFormTypeChange.cs
  backend/FwLite/LcmCrdt/Changes/ReplaceSemanticDomainChange.cs
  backend/FwLite/MiniLcm/Models/Entry.cs
Labels: 💻 FW Lite

#1810 update FWLite viewer Spanish translations using Gemini
  frontend/viewer/src/locales/es.json
Labels: 💻 FW Lite

#1815 fix error displayed when playing audio
  frontend/viewer/src/lib/components/field-editors/audio-input.svelte
  frontend/viewer/src/lib/components/ui/format/format-duration.test.ts
  frontend/viewer/src/lib/components/ui/format/format-duration.ts
  frontend/viewer/src/lib/writing-system-service.svelte.ts
Labels: 💻 FW Lite

#1814 gracefully handle missing servers
  backend/FwLite/FwLiteShared/Auth/AuthConfig.cs
  backend/FwLite/FwLiteShared/Projects/LexboxProjectService.cs
  backend/FwLite/FwLiteShared/Services/ProjectServicesProvider.cs
  backend/FwLite/FwLiteShared/Services/SyncServiceJsInvokable.cs
  backend/FwLite/FwLiteShared/Sync/SyncService.cs
  frontend/viewer/src/DotnetProjectView.svelte
  frontend/viewer/src/lib/dotnet-types/generated-types/FwLiteShared/Services/IProjectScope.ts
  frontend/viewer/src/lib/project-context.svelte.ts
  frontend/viewer/src/project/SyncDialog.svelte
Labels: 💻 FW Lite

#1816 remove dead json patch related code
  backend/FwLite/FwDataMiniLcmBridge/Api/FwDataMiniLcmApi.cs
  backend/FwLite/FwDataMiniLcmBridge/Api/UpdateProxy/UpdateSenseProxy.cs
  backend/FwLite/FwLiteProjectSync.Tests/UpdateDiffTests.cs
  backend/FwLite/FwLiteProjectSync/DryRunMiniLcmApi.cs
  backend/FwLite/LcmCrdt.Tests/JsonPatchEntryRewriteTests.cs
  backend/FwLite/LcmCrdt.Tests/JsonPatchSenseRewriteTests.cs
  backend/FwLite/LcmCrdt/CrdtMiniLcmApi.cs
  backend/FwLite/LcmCrdt/Objects/JsonPatchChangeExtractor.cs
  backend/FwLite/LcmCrdt/Utils/JsonPatchRewriter.cs
  backend/FwLite/MiniLcm.Tests/BasicApiTestsBase.cs
  backend/FwLite/MiniLcm.Tests/PartOfSpeechTestsBase.cs
  backend/FwLite/MiniLcm.Tests/SemanticDomainTestsBase.cs
  backend/FwLite/MiniLcm/IMiniLcmWriteApi.cs
  backend/FwLite/MiniLcm/SyncHelpers/SenseSync.cs
Labels: 💻 FW Lite

#1795 Complete publication support
  backend/FwLite/FwDataMiniLcmBridge/Api/FwDataMiniLcmApi.cs
  backend/FwLite/FwDataMiniLcmBridge/Api/UpdateProxy/UpdateEntryProxy.cs
  backend/FwLite/FwDataMiniLcmBridge/Api/UpdateProxy/UpdatePublicationProxy.cs
  backend/FwLite/FwDataMiniLcmBridge/FwDataFactory.cs
  backend/FwLite/FwLiteProjectSync.Tests/SyncTests.cs
  backend/FwLite/FwLiteProjectSync.Tests/UpdateDiffTests.cs
  backend/FwLite/FwLiteProjectSync/CrdtFwdataProjectSyncService.cs
  backend/FwLite/FwLiteShared/FwLiteSharedKernel.cs
  backend/FwLite/LcmCrdt.Tests/Changes/RegressionDeserializationData.json
  backend/FwLite/LcmCrdt.Tests/Changes/UseChangesTests.cs
  backend/FwLite/LcmCrdt.Tests/DataModelSnapshotTests.VerifyChangeModels.verified.txt
  backend/FwLite/LcmCrdt.Tests/MiniLcmTests/PublicationsTests.cs
  backend/FwLite/LcmCrdt/Changes/Entries/AddPublicationChange.cs
  backend/FwLite/LcmCrdt/Changes/Entries/RemovePublicationChange.cs
  backend/FwLite/LcmCrdt/Changes/Entries/ReplacePublicationChange.cs
  backend/FwLite/LcmCrdt/CrdtMiniLcmApi.cs
  backend/FwLite/LcmCrdt/Data/MiniLcmRepository.cs
  backend/FwLite/LcmCrdt/LcmCrdtKernel.cs
  backend/FwLite/MiniLcm.Tests/AutoFakerHelpers/EntryFakerHelper.cs
  backend/FwLite/MiniLcm.Tests/PublicationsTestsBase.cs
  backend/FwLite/MiniLcm/Models/Publication.cs
  backend/FwLite/MiniLcm/SyncHelpers/EntrySync.cs
  backend/FwLite/MiniLcm/SyncHelpers/PublicationSync.cs
  backend/FwLite/MiniLcm/Validators/MiniLcmApiValidationWrapper.cs
  backend/FwLite/MiniLcm/Validators/MiniLcmValidators.cs
  backend/FwLite/MiniLcm/Validators/PublicationValidator.cs
Labels: 💻 FW Lite

#1827 fix bugs in previous release
  backend/FwLite/FwLiteWeb/FwLiteWebKernel.cs
  backend/FwLite/FwLiteWeb/appsettings.Development.json
  backend/FwLite/Taskfile.yml
  backend/Testing/FwHeadless/MediaFileTestFixture.cs
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  frontend/viewer/package.json
  frontend/viewer/src/lib/components/lcm-rich-text-editor/lcm-rich-text-editor.svelte
  frontend/viewer/src/lib/i18n/LocalizationPicker.svelte
  frontend/viewer/src/lib/utils.ts
  frontend/viewer/src/project/ProjectSidebar.svelte
  frontend/viewer/src/project/SyncDialog.svelte
Labels: 💻 FW Lite

#1820 hide some UI elements when running as a paratext extension
  backend/FwLite/FwLiteShared/Pages/CrdtProject.razor
  backend/FwLite/FwLiteShared/Pages/FwdataProject.razor
  frontend/viewer/src/App.svelte
  frontend/viewer/src/DotnetProjectView.svelte
  frontend/viewer/src/ProjectLoader.svelte
  frontend/viewer/src/ProjectView.svelte
  frontend/viewer/src/ShadcnProjectView.svelte
  frontend/viewer/src/TestProjectView.svelte
  frontend/viewer/src/WebComponent.svelte
  frontend/viewer/src/lib/project-context.svelte.ts
  frontend/viewer/src/project/ProjectDropdown.svelte
  frontend/viewer/src/project/ProjectSidebar.svelte
  frontend/viewer/tailwind.config.ts
Labels: 💻 FW Lite

#1832 use GITHUB_TOKEN during tests calling the release api
  .github/workflows/lexbox-api.yaml
  backend/LexBoxApi/Services/FwLiteReleases/FwLiteReleaseService.cs
  backend/Testing/LexCore/Services/FwLiteReleaseServiceTests.cs
Labels: 📦 Lexbox

#1825 remove browse view
  .github/workflows/fw-lite.yaml
  backend/FwLite/FwLiteMaui/wwwroot/index.html
  backend/FwLite/FwLiteShared/Pages/OwningComponentBaseAsync.cs
  backend/FwLite/FwLiteShared/tgconfig.json
  backend/FwLite/FwLiteShared/wwwroot/background.png
  backend/FwLite/FwLiteShared/wwwroot/bootstrap/bootstrap.min.css
  backend/FwLite/FwLiteShared/wwwroot/bootstrap/bootstrap.min.css.map
  backend/FwLite/FwLiteShared/wwwroot/exampleJsInterop.js
  backend/FwLite/FwLiteShared/wwwroot/favicon.png
  backend/FwLite/Taskfile.yml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/Taskfile.yml
  frontend/dev.Dockerfile
  frontend/package.json
  frontend/platform.bible-extension/Taskfile.yml
  frontend/pnpm-lock.yaml
  frontend/src/routes/(authenticated)/project/[project_code]/+page.svelte
  frontend/src/routes/(authenticated)/project/[project_code]/+page.ts
  frontend/src/routes/(authenticated)/project/[project_code]/viewer/+layout@.svelte
  frontend/src/routes/(authenticated)/project/[project_code]/viewer/+page.svelte
  frontend/src/routes/(authenticated)/project/[project_code]/viewer/+page.ts
  frontend/src/routes/(authenticated)/project/[project_code]/viewer/lfClassicLexboxApi.ts
  frontend/src/routes/(authenticated)/project/[project_code]/viewer/semantic-domains.en.generated-data.ts
  frontend/tests/pages/projectPage.ts
  frontend/tests/pages/viewerPage.ts
  frontend/tests/viewerPage.test.ts
  frontend/viewer/.gitignore
  frontend/viewer/Taskfile.yml
  frontend/viewer/package.json
  frontend/viewer/playwright.config.ts
  frontend/viewer/vite.config.ts
Labels: 💻 FW Lite, 📦 Lexbox

#1833 Add MiniLCM routes for posting a new entry, deleting an entry
  backend/FwLite/FwLiteWeb/Routes/MiniLcmRoutes.cs
Labels: 💻 FW Lite

#1823 Return exception in error detail when sync fails
  backend/FwHeadless/Program.cs
  backend/FwHeadless/Services/SyncHostedService.cs
  backend/FwLite/FwLiteShared/Projects/LexboxProjectService.cs
  backend/FwLite/FwLiteShared/Services/SyncServiceJsInvokable.cs
  backend/FwLite/FwLiteShared/Sync/SyncService.cs
  backend/FwLite/FwLiteShared/TypeGen/ReinforcedFwLiteTypingConfig.cs
  backend/LexBoxApi/Controllers/SyncController.cs
  backend/LexBoxApi/Services/FwHeadlessClient.cs
  backend/LexCore/Sync/SyncJobResult.cs
  backend/Testing/FwHeadless/FwHeadlessTestHelpers.cs
  backend/Testing/FwHeadless/MergeFwDataWithHarmonyTests.cs
  frontend/src/routes/(authenticated)/project/[project_code]/CrdtSyncButton.svelte
  frontend/viewer/src/lib/dotnet-types/generated-types/FwLiteShared/Services/ISyncServiceJsInvokable.ts
  frontend/viewer/src/lib/dotnet-types/generated-types/LexCore/Sync/ISyncJobResult.ts
  frontend/viewer/src/lib/dotnet-types/generated-types/LexCore/Sync/SyncJobStatusEnum.ts
  frontend/viewer/src/lib/services/sync-status-service.ts
  frontend/viewer/src/project/SyncDialog.svelte
Labels: 💻 FW Lite, 📦 Lexbox

#1856 Use bits-ui version with onCloseAutoFocus bugfix
  frontend/pnpm-lock.yaml
  frontend/viewer/package.json
Labels: 💻 FW Lite

#1855 Update frontend/viewer/src/locales
  backend/FwLite/Taskfile.yml
  frontend/viewer/README.md
  frontend/viewer/lingui.config.ts
  frontend/viewer/src/lib/i18n/index.ts
  frontend/viewer/src/locales/en.json
  frontend/viewer/src/locales/en.po
  frontend/viewer/src/locales/es.json
  frontend/viewer/src/locales/es.po
  frontend/viewer/src/locales/fr.json
  frontend/viewer/src/locales/fr.po
  frontend/viewer/src/locales/id.json
  frontend/viewer/src/locales/id.po
  frontend/viewer/src/locales/ko.json
  frontend/viewer/src/locales/ko.po
Labels: 💻 FW Lite

#1842 Update NPM dependencies for Svelte, eslint, and eslint plugins
  frontend/eslint.config.js
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  frontend/viewer/eslint.config.js
  frontend/viewer/package.json
  frontend/viewer/src/lib/writing-system-service.svelte.ts
Labels: 💻 FW Lite, 📦 Lexbox

#1852 Remove all svelte-ux usages
  frontend/pnpm-lock.yaml
  frontend/viewer/package.json
  frontend/viewer/src/App.svelte
  frontend/viewer/src/WebComponent.svelte
  frontend/viewer/src/app.postcss
  frontend/viewer/src/home/AppBar.svelte
  frontend/viewer/src/home/HomeView.svelte
  frontend/viewer/src/home/ProjectListItem.svelte
  frontend/viewer/src/home/ProjectTitle.svelte
  frontend/viewer/src/home/Server.svelte
  frontend/viewer/src/home/ServersList.svelte
  frontend/viewer/src/lib/ThemePicker.svelte
  frontend/viewer/src/lib/activity/ActivityView.svelte
  frontend/viewer/src/lib/auth/LoginButton.svelte
  frontend/viewer/src/lib/components/ListItem.svelte
  frontend/viewer/src/lib/components/ui/format/format-duration.svelte
  frontend/viewer/src/lib/components/ui/format/format-duration.test.ts
  frontend/viewer/src/lib/components/ui/format/format-duration.ts
  frontend/viewer/src/lib/components/ui/format/index.ts
  frontend/viewer/src/lib/history/HistoryView.svelte
  frontend/viewer/src/project/SyncDialog.svelte
  frontend/viewer/src/stories/home/server.stories.svelte
  frontend/viewer/svelte.config.js
  frontend/viewer/tailwind.config.ts
  frontend/viewer/vite.config.ts
Labels: 💻 FW Lite

#1844 Fix new eslint errors
  frontend/eslint.config.js
  frontend/src/lib/components/HgLogView.svelte
  frontend/src/lib/components/ProjectList.svelte
  frontend/src/lib/components/Projects/ProjectConfidentialityFilterSelect.svelte
  frontend/src/lib/components/Projects/ProjectFilter.svelte
  frontend/src/lib/components/Projects/ProjectTable.svelte
  frontend/src/lib/components/Projects/WritingSystemList.svelte
  frontend/src/lib/components/TrainTracks.svelte
  frontend/src/lib/components/Users/UserFilter.svelte
  frontend/src/lib/components/Users/UserProjects.svelte
  frontend/src/lib/components/Users/UserTable.svelte
  frontend/src/lib/forms/DisplayLanguageSelect.svelte
  frontend/src/lib/forms/ProjectTypeSelect.svelte
  frontend/src/lib/forms/RadioButtonGroup.svelte
  frontend/src/lib/forms/UserTypeSelect.svelte
  frontend/src/lib/forms/UserTypeahead.svelte
  frontend/src/lib/layout/Breadcrumbs/Breadcrumbs.svelte
  frontend/src/routes/(authenticated)/admin/AdminTabs.svelte
  frontend/src/routes/(authenticated)/admin/EditUserAccount.svelte
  frontend/src/routes/(authenticated)/authorize/+page.svelte
  frontend/src/routes/(authenticated)/org/[org_id]/BulkAddOrgMembers.svelte
  frontend/src/routes/(authenticated)/org/[org_id]/OrgMemberTable.svelte
  frontend/src/routes/(authenticated)/org/[org_id]/OrgTabs.svelte
  frontend/src/routes/(authenticated)/org/list/+page.svelte
  frontend/src/routes/(authenticated)/project/[project_code]/AddOrganization.svelte
  frontend/src/routes/(authenticated)/project/[project_code]/AddPurpose.svelte
  frontend/src/routes/(authenticated)/project/[project_code]/BulkAddProjectMembers.svelte
  frontend/src/routes/(authenticated)/project/create/+page.svelte
  frontend/src/routes/(unauthenticated)/register/+page.svelte
  frontend/src/routes/+error.svelte
  frontend/src/routes/email/tester/+page@.svelte
  frontend/svelte.config.js
  frontend/viewer/eslint.config.js
  frontend/viewer/src/home/HomeView.svelte
  frontend/viewer/src/home/Server.svelte
  frontend/viewer/src/home/ServersList.svelte
  frontend/viewer/src/lib/DictionaryEntry.svelte
  frontend/viewer/src/lib/components/reorderer/reorderer-item-list.svelte
  frontend/viewer/src/lib/entry-editor/EntryOrSensePicker.svelte
  frontend/viewer/src/lib/entry-editor/ItemList.svelte
  frontend/viewer/src/lib/entry-editor/ItemListItem.svelte
  frontend/viewer/src/lib/entry-editor/NewEntryDialog.svelte
  frontend/viewer/src/lib/i18n/LocalizationPicker.svelte
  frontend/viewer/src/lib/sandbox/EditorSandbox.svelte
  frontend/viewer/src/lib/sandbox/Sandbox.svelte
  frontend/viewer/src/lib/utils/url.svelte.ts
  frontend/viewer/src/project/ProjectDropdown.svelte
  frontend/viewer/src/project/browse/EntryView.svelte
  frontend/viewer/src/project/browse/SortMenu.svelte
  frontend/viewer/src/project/browse/ViewPicker.svelte
  frontend/viewer/src/project/browse/filter/OpFilter.svelte
  frontend/viewer/src/project/browse/filter/WsSelect.svelte
  frontend/viewer/src/stories/editor/misc/entry-picker.stories.svelte
  frontend/viewer/src/stories/editor/misc/reorderer.stories.svelte
  frontend/viewer/src/stories/primitives/button.stories.svelte
Labels: 💻 FW Lite, 📦 Lexbox

#1864 Fail build if any i18n strings were not extracted
  .github/workflows/fw-lite.yaml
  frontend/viewer/package.json
  frontend/viewer/src/locales/en.po
  frontend/viewer/src/locales/es.po
  frontend/viewer/src/locales/fr.po
  frontend/viewer/src/locales/id.po
  frontend/viewer/src/locales/ko.po
Labels: 💻 FW Lite
