Repository sillsdev/languageforge-lexbox, pull requests merged in 2025-06, with the labels that each got.

#1750 change paratext extension to work as an iframe in paratext
  backend/FwLite/FwLiteWeb/FwLiteWebServer.cs
  backend/FwLite/FwLiteWeb/Program.cs
  frontend/platform.bible-extension/Taskfile.yml
  frontend/platform.bible-extension/package-lock.json
  frontend/platform.bible-extension/package.json
  frontend/platform.bible-extension/src/extension-template.web-view.tsx
  frontend/platform.bible-extension/src/main.ts
  frontend/platform.bible-extension/src/styles.css
  frontend/viewer/src/ShadcnProjectView.svelte
Labels: 💻 FW Lite

#1758 close list mode picker on selection
  frontend/viewer/src/project/browse/BrowseView.svelte
Labels: 💻 FW Lite

#1698 begin working on full text search
  backend/FwHeadless/FwHeadlessKernel.cs
  backend/FwLite/FwDataMiniLcmBridge/Api/FwDataMiniLcmApi.cs
  backend/FwLite/FwDataMiniLcmBridge/Api/LcmHelpers.cs
  backend/FwLite/FwDataMiniLcmBridge/Api/Sorting.cs
  backend/FwLite/LcmCrdt.Tests/DataModelSnapshotTests.VerifyDbModel.verified.txt
  backend/FwLite/LcmCrdt.Tests/FullTextSearch/EntrySearchServiceTests.SearchTableIsUpdatedAutomatically.verified.txt
  backend/FwLite/LcmCrdt.Tests/FullTextSearch/EntrySearchServiceTests.cs
  backend/FwLite/LcmCrdt.Tests/MiniLcmApiFixture.cs
  backend/FwLite/LcmCrdt.Tests/MiniLcmTests/QueryEntryTests.cs
  backend/FwLite/LcmCrdt/CrdtMiniLcmApi.cs
  backend/FwLite/LcmCrdt/CurrentProjectService.cs
  backend/FwLite/LcmCrdt/Data/Filtering.cs
  backend/FwLite/LcmCrdt/Data/Sorting.cs
  backend/FwLite/LcmCrdt/FullTextSearch/EntrySearchRecord.cs
  backend/FwLite/LcmCrdt/FullTextSearch/EntrySearchService.cs
  backend/FwLite/LcmCrdt/FullTextSearch/UpdateEntrySearchTableInterceptor.cs
  backend/FwLite/LcmCrdt/LcmCrdtDbContext.cs
  backend/FwLite/LcmCrdt/LcmCrdtKernel.cs
  backend/FwLite/LcmCrdt/Migrations/20250609090931_AddEntrySearchTable.Designer.cs
  backend/FwLite/LcmCrdt/Migrations/20250609090931_AddEntrySearchTable.cs
  backend/FwLite/LcmCrdt/SqlHelpers.cs
  backend/FwLite/MiniLcm.Tests/QueryEntryTestsBase.cs
  backend/FwLite/MiniLcm.Tests/WritingSystemIdTests.cs
  backend/FwLite/MiniLcm/IMiniLcmReadApi.cs
  backend/FwLite/MiniLcm/Models/Entry.cs
  backend/FwLite/MiniLcm/Models/RichString.cs
  backend/FwLite/MiniLcm/Models/WritingSystemId.cs
  frontend/viewer/src/lib/components/responsive-menu/responsive-menu-trigger.svelte
  frontend/viewer/src/lib/components/ui/badge/badge.svelte
  frontend/viewer/src/lib/dotnet-types/generated-types/MiniLcm/SortField.ts
  frontend/viewer/src/project/browse/BrowseView.svelte
  frontend/viewer/src/project/browse/EntriesList.svelte
  frontend/viewer/src/project/browse/SortMenu.svelte
Labels: 💻 FW Lite, 📦 Lexbox

#1772 ESLint viewer in CI
  .github/workflows/develop-ui.yaml
  frontend/viewer/package.json
  frontend/viewer/src/ShadcnProjectView.svelte
  frontend/viewer/src/stories/editor/fields/ws-input.stories.svelte
Labels: 💻 FW Lite

#1777 "New admin" email now includes who made the change
  backend/LexBoxApi/GraphQL/UserMutations.cs
  backend/LexBoxApi/Services/Email/EmailTemplates.cs
  backend/LexBoxApi/Services/Email/IEmailService.cs
  backend/LexBoxApi/Services/EmailService.cs
  frontend/src/lib/email/NewAdmin.svelte
  frontend/src/lib/i18n/locales/en.json
Labels: 📦 Lexbox

#1774 Tell browsers not to spellcheck HTML input fields
  frontend/viewer/src/lib/components/lcm-rich-text-editor/lcm-rich-text-editor.svelte
  frontend/viewer/src/lib/components/ui/input/input.svelte
Labels: 💻 FW Lite

#1769 show complex forms/components in fw lite view
  frontend/viewer/src/lib/entry-editor/EntryOrSensePicker.svelte
  frontend/viewer/src/lib/entry-editor/field-editors/ComplexFormComponents.svelte
  frontend/viewer/src/lib/entry-editor/field-editors/ComplexForms.svelte
  frontend/viewer/src/lib/entry-editor/object-editors/EntryEditorPrimitive.svelte
  frontend/viewer/src/lib/views/view-data.ts
  frontend/viewer/src/locales/en.json
  frontend/viewer/src/locales/es.json
  frontend/viewer/src/locales/fr.json
Labels: 💻 FW Lite

#1776 Add project count to org list for admins only
  frontend/src/lib/i18n/locales/en.json
  frontend/src/routes/(authenticated)/org/list/+page.svelte
  frontend/src/routes/(authenticated)/org/list/+page.ts
Labels: 📦 Lexbox
